*{
  box-sizing: border-box;
}
html, body{
  min-height: 100%;
}
body {
    background-color: #ff000000;
    background-image: linear-gradient(
      to bottom right,
      rgb(86, 0, 105),
      rgb(0, 192, 173)
    );
    width: 100vw;
    padding: 10px 0;
    margin: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
  header {
   
  display: flex;
    justify-content: center;
    justify-content: space-evenly;
margin: 10px;
  }

.header-buttons {
  border-radius: 10px;
  border: none;
  background-color:  rgba(255, 255, 255, 0.06);
  color: #ccc;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

  .container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin:0 auto;
    padding:10px;

    
  }
  input[type="text"] {
    background-color: rgba(255, 255, 255, 0.169);
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    border: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin-bottom: 10px;
    padding-left:10px;
  }
  #add-btn {
    background-color: rgba(255, 255, 255, 0.169);
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    border: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  input[type="text"]::placeholder {
    color: #ccc;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    background-color: rgba(255, 255, 255, 0.169);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
  }
  .delete-button {
    background-color: rgba(255, 255, 255, 0.169);
    height: 30px;
    font-size: 0.9rem;
    border-radius: 8px;
    border: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    min-width: 70px;
    cursor: pointer;
    margin-left: 20px;
  }
 